.boton-der-blanco{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    a{
        background-color: $blanco;
        color: $negro;
        padding: 0.5rem;
        border-radius: 0.5rem;
        
    }
}

.btn-agregar{
    position: absolute;
    right: 5rem;
    top: 19rem;
    img{
        width: 3rem;
        height: 3rem;
    }
}

.btn-agregar-item{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    a{
        background-color: $blanco;
        color: $negro;
        padding: 0.5rem;
        border-radius: 0.5rem;
        
    }
}