.header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to top, #FF530D 0%, #E82C0C 50%, #FF0000 100%);
    .header-logo{
        height: 15rem;
        width: auto;
        margin: 0;
    }
    .titulo{
        color: $negro;
    }
}